-e git+git://github.com/dimagi/dimagi-utils.git@master#egg=dimagi-utils
SQLAlchemy==0.8.2
django==1.7.10
jsonobject-couchdbkit>=0.7.0.1
six>=1.2.0
alembic==0.5.0
celery==3.0.15
psycopg2==2.4.1
pillowfluff>=0.0.4
mock>=0.0.8
fakecouch==0.0.6

#required by dimagi-utils
unittest2>=0.5.1
