{% load i18n %}
{% for mapping in mappings %}
    <div id="delete-sql-mapping-{{ mapping.get_id }}" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>{% trans "Delete Mapping:" %} "{{ mapping.name }}"?</h3>
        </div>
        {% if domain %}
            {% url sql_mappings_delete domain mapping.get_id as delete_url %}
        {% else %}
            {% url sql_mappings_delete mapping.get_id as delete_url %}
        {% endif %}
        <form name="drop_report" action="{{ delete_url }}" method="delete">
            <div class="modal-body">
                <p>{% trans "Are you sure you want to delete this mapping?" %}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> {% trans "Delete" %}</button>
                <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
            </div>
        </form>
    </div>
{% endfor %}