{% extends base_template %}
{% load i18n %}
{% load hq_shared_tags %}
{% load hqstyle_tags %}

{% block js-inline %}{{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('.disabled').click(function (e) {
                e.preventDefault();
                return false;
            });
        });

    </script>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span10 offset1">
        <h3>SQL Extract Mappings
        {% if domain %}
            {% url sql_mappings_edit domain '' as new_url %}
        {% else %}
            {% url sql_mappings_edit '' as new_url %}
        {% endif %}
        <a class="btn pull-right" href="{{ new_url }}">
            <i class="icon-edit"></i>
            {% trans "New Mapping" %}
        </a>
        </h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                    {% if not domain %}
                        <th rowspan="2">{% trans "Domains" %}</th>
                    {%  endif %}
                    <th rowspan="2">{% trans "Name" %}</th>
                    <th rowspan="2">{% trans "Schedule" %}</th>
                    <th colspan="3">{% trans "Couch View" %}</th>
                    <th rowspan="2">{% trans "Schedule Status" %}</th>
                    <th rowspan="2">{% trans "Table name" %}</th>
                    <th rowspan="2">{% trans "Backend" %}</th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Key Prefix" %}</th>
                    <th>{% trans "Date Range    " %}</th>
                </tr>
            </thead>
            <tbody>
            {% regroup mappings|dictsort:"domains" by domains as mapping_list %}
            {% for gmap in mapping_list %}
                {% if not domain %}
                <tr><td colspan="{% if domain %}9{% else %}10{% endif %}"><strong>Domains: {{ gmap.grouper }}</strong></td></tr>
                {% endif %}
                {% for mapping in gmap.list %}
                <tr class="{% if mapping.active %}success{% else %}warning{% endif %}">
                    {% if not domain %}
                    <td>
                        <ul>
                            {% for domain in mapping.domains %}
                            <li>{{ domain }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endif %}
                    <td>{{ mapping.name }}</td>
                    <td>
                        {{ mapping.schedule_type }}
                        {% if mapping.schedule_type != 'daily' %} on day {{ mapping.schedule_day }}{% endif %}
                        at {{ mapping.schedule_hour }}:00
                    </td>
                    <td>{{ mapping.couch_view }}</td>
                    <td>{{ mapping.couch_key_prefix }}</td>
                    <td>{{ mapping.couch_date_range }}</td>
                    <td>
                        {% if mapping.active %}
                            <i class="icon-play"></i>
                            {% trans "Enabled" %}
                        {% else %}
                            <i class="icon-stop"></i>
                            {% trans "Disabled" %}
                        {% endif %}
                    </td>
                    <td>{{ mapping.table_name }}</td>
                    <td>{% if mapping.backend %}{{ mapping.backend }}{% else %}{% trans "Default" %}{% endif %}</td>
                    <td>
                        {% if domain %}
                            {% url sql_mappings_toggle_state domain mapping.get_id as toggle_url %}
                            {% url sql_mappings_edit domain mapping.get_id as edit_url %}
                            {% url sql_mappings_test domain mapping.get_id as test_url%}
                        {% else %}
                            {% url sql_mappings_toggle_state mapping.get_id as toggle_url %}
                            {% url sql_mappings_edit mapping.get_id as edit_url %}
                            {% url sql_mappings_test mapping.get_id as test_url%}
                        {% endif %}
                        <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-cog"></i>
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              {% if not mapping.auto_generated %}
                                {% if mapping.active %}
                                  <li><a href="{{ toggle_url }}"><i class="icon-stop"></i>{% trans "Disable Schedule" %}</a></li>
                                {% else %}
                                  <li><a href="{{ toggle_url }}"><i class="icon-play"></i>{% trans "Enable Schedule" %}</a></li>
                                {% endif %}
                              {% endif %}
                              {% if mapping.auto_generated %}
                                  <li><a href="{{ edit_url }}"><i class="icon-file-alt"></i>{% trans "View" %}</a></li>
                              {% else %}
                                  <li><a href="{{ edit_url }}"><i class="icon-edit"></i>{% trans "Edit" %}</a></li>
                              {% endif  %}
                              <li><a href="{{ test_url }}"><i class="icon-beaker"></i>{% trans "Test" %}</a></li>
                              <li><a data-toggle="modal" href="#delete-sql-mapping-{{ mapping.get_id }}"><i class="icon-remove icon-white"></i>{% trans "Delete" %}</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block modals %}{{ block.super }}
    {% include "ctable/delete_sql_mapping_dialog.html" %}
{% endblock %}
